app/views/admin/employees/edit.html.erb
<script type="text/javascript" language="javascript" charset="utf-8">
$(".header-con li a").removeClass("open-menu");
$(".header-con li #employee").addClass("open-menu");
</script>

<div class="boxed clearfix">
  <div class="common-tit">
    <h2>员工编辑</h2>
    <span>人资管理 > 员工列表 > 员工详情 > 员工编辑</span>
  </div>


  <div class="ad-box">
    
    <div class="account-infor">
      <div class="requir">
        <span>* 必填项</span>
      </div>
      <h3>
        <em>*</em>
        <span>账户信息</span>
      </h3>
      <div class="reg-ac clearfix">
        <input type="text" class="in-l mob required" id="user_mobile" placeholder="员工账号" value="<%= @employee.user.mobile %>" disabled>
        <span></span>
        <input type="text" class="in-r pas"  id="user_password" placeholder="请代填初始密码">
        <em>此账号已经被注册过</em>
      </div>
    </div>
    
    <!-- 基本信息维护 -->
    <%= render "basic_info"%>

    <!-- 职位信息 -->
    <%= render "position_info"%>

    <!-- 薪资信息 -->
    <%= render "salaries_info"%>


    <%= tag(:input, :type => 'hidden', :name => 'utf-8',:value => "✓") %>
    <%= tag(:input, :type => "hidden", :name =>  request_forgery_protection_token.to_s, :value =>   form_authenticity_token) %>
      <div id="save_submit" style="float: left" class="pay-btn">保存</div>
    </div>
  </div>
</div>

<!-- <script src="/assets/js/common-list.js"></script> -->
<script>
$(function(){
  
});
</script>

app/views/admin/employees/edit.html.haml
= stylesheet_link_tag "/assets/css/date_input.css"

.boxed.clearfix
  .common-tit
    %h2 员工编辑
    %span  人资管理 > 员工列表 > 员工详情 > 员工编辑   
  .ad-box

    /账户信息 
    .account-infor
      .requir
        %span * 必填项
      %h3
        %em *
        %span 账户信息
      .reg-ac.clearfix
        = text_field_tag 'user_mobile', @employee.user.mobile, class: 'special_input'
 
      <div class="reg-ac clearfix">
        <input type="text" class="in-l mob required" placeholder="员工账号" value="<%= @employee.user.mobile %>" disabled>
        <span></span>
        <input type="text" class="in-r pas" placeholder="请代填初始密码">
        <em>此账号已经被注册过</em>
      </div>  
